[submodule "AdvancedStatisticalInference"]
	path = AdvancedStatisticalInference
	url = https://github.com/srossi93/EURECOM_ASI
[submodule "AlgorithmicMachineLearning"]
	path = AlgorithmicMachineLearning
	url = https://github.com/srossi93/EURECOM_AML
[submodule "ComputationalMethods"]
	path = ComputationalMethods
	url = https://github.com/srossi93/EURECOM_CompMeth
[submodule "LearningToDrive"]
	path = LearningToDrive
	url = https://github.com/srossi93/LearningToDrive
[submodule "UMLforEmbeddedSystems"]
	path = UMLforEmbeddedSystems
	url = https://github.com/srossi93/EURECOM_UMLEmb
[submodule "OperatingSystems"]
	path = OperatingSystems
	url = https://github.com/srossi93/EURECOM_OS
[submodule "ComputerArchitectures"]
	path = ComputerArchitectures
	url = https://github.com/srossi93/EURECOM_CompArch
[submodule "EV3robot"]
	path = EV3robot
	url = https://github.com/srossi93/ev3_robot
